@using PagedList;
@using PagedList.Mvc;
@model  IPagedList<Twitter.Web.Models.TweetViewModel>
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Twitter</h1>
    <p class="lead">ASP.NET Project</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <h2>List All Tweets</h2>
    <div class="col-md-4">

    @Html.DisplayFor(t => Model, "TweetViewModel")
            @*<div class="panel panel-primary">
                <div class="panel-heading">
                    <strong>@tweet.Author</strong>
                    <span>@tweet.SendDate</span>
                </div>
                <div class="panel-body">@tweet.Text</div>
                <div class="panel-footer">
                    <a class="btn btn-sm btn-default" href="">Favorite</a>
                    <a class="btn btn-sm btn-default" href="">Retweet</a>
                    <a class="btn btn-sm btn-default" href="">Report</a>
                    <a class="btn btn-sm btn-default" href="">Reply</a>
                    <a class="btn btn-sm btn-default" href="">Share</a>
                </div>
            </div>*@

    </div>
</div>
<div class="row">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>